//- HTML Start

//- Includes
include variables
include mixins

//- Start HTML
doctype html
html(lang="de")
    head
        title=page_title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet", href=style_sheet)
        link(rel="shortcut icon", href=img + "favicon.ico")
        link(rel="apple-touch-icon", href=img + "apple-touch-icon.png")
        link(rel="apple-touch-icon-precomposed", href=img + "apple-touch-icon.png")
        link(rel="icon", sizes="192x192", href=img + "android-touch-icon.png")
        //- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        //- script(src="../src/js/lib/require.js?v=#{version}")
        //- script(src="../src/js/main.js?v=#{version}")
        // script(src=js + "jquery.min.js?v=" + version)
        // script(src=js + "workfiles.js?v=" + version)
        // script(src=js/slick.min.js)
        //- script(src=js + ""Hyphenator.js")
        //- !='<script type="text/javascript">'
        //- !='Hyphenator.config({'
        //- !='displaytogglebox : false,'
        //- !='minwordlength : 4'
        //- !='});'
        //- !='Hyphenator.run();'
        //- !='</script>'
        <!--[if lte IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script>window.html5 || document.write("<script src="js/vendor/html5shiv.js"><\/script>")</script><![endif]-->
        <!--[if lte IE 9]><div class="browsehappy"><h2 class="beta">Achtung</h2><p>Sie benutzen einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">updaten Sie Ihren Browser</a> um die volle Funktionalität dieser Website erleben zu können.</p></div><![endif]-->


    body
        block content
