//- HTML End
//- include toasts
//- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
script(src=js + "bootstrap/bootstrap.min.js?v=" + version)
//- script(src=js + "swiper.min.js?v=" + version)
script(src=js + "slick.min.js?v=" + version)
script(src=js + "jquery.masonry.min.js?v=" + version)
script(src=js + "rellax.min.js?v=" + version)
script(src=js + "workfiles.js?v=" + version)
